.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background-color: var(--main-color-2);
}

.register-form {
    width: 400px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 6px;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--main-color-1);
}

.register-input {
    position: relative;
    margin-bottom: 2rem;
}

.register-input-icon {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 20px;
    height: 20px;
}

.register-input-box {
    margin-top: 10px;
}

.register-form input {
    width: 100%;
    padding: 15px 10px 15px 40px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    outline: none;
    transition: border-color 0.3s;
    color: var(--main-color-1);
}

.register-form input:focus {
    border-color: #007bff;
}

.register-form label {
    position: absolute;
    top: 15px;
    left: 40px;
    color: var(--main-color-1);
    transition: 0.2s;
    pointer-events: none;
}

.register-form input:focus + label,
.register-form input:not(:placeholder-shown) + label {
    top: -8px;
    left: 40px;
    font-size: 12px;
}

.register-form button {
    width: 100%;
    padding: 15px;
    background-color: var(--main-color-1);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-form button:hover {
    background-color: var(--main-color-1);
}

.showHidePassword {
    position: absolute;
    top: 14px;
    right: 10px;
    width: 23px;
    cursor: pointer;
}
.register-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}
