.short-banner {
    color: var(--main-color-2);
    margin: 45px 0;
    height:200px;
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}

.banner-title{
    color: var(--main-color-2);
    background-color: black;
    padding:7px 35px;
}
