.navbar{
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: var(--main-color-2)
}
.navbar-item{
    position: relative;
    display: inline-block;
    width: 96px;
    padding: 0.6em 0;
    margin: 0 2.5em;
    background-color: var(--main-color-1);
    color: var(--main-color-2);
    text-align: center;
    transition: background-color 0.1s ease-in-out;
    height:100%;
}
.navbar-item:hover{
    cursor: pointer;
    background-color: var(--main-color-1);
}
.navbar-item-img{
    width: 30px;
    height: 26px;
}
.navbar-item-name{
    margin: 0;
    width:100%;
}

.sub-nav{
    position: absolute;
    left: 2px;
    width:100%;
}

.sub-nav-item:hover{
    background-color: rgba(0, 0, 0, 0.81);
}
.sub-nav-item{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
}
.sub-nav, .sub-nav-item {
    pointer-events: all;
}